<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wbmd.appindexingpoc.news" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
    <activity android:name="com.wbmd.appindexingpoc.MainDirectoryActivity">
        <intent-filter android:autoVerify="true">
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />

            <data
                android:scheme="http"
                android:host="alburt.us"
                android:pathPrefix="/news.html" />
            <data
                android:scheme="https"
                android:host="alburt.us"
                android:pathPrefix="/news.html" />
        </intent-filter>
    </activity>
        <activity android:name="com.wbmd.appindexingpoc.ProfileDetailsActivity"/>
</application>
</manifest>
