<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wbmd.appindexingpoc.directory">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <meta-data
            android:name="asset_statements"
            android:resource="@string/asset_statements" />

        <activity android:name="com.wbmd.appindexingpoc.activity.BaseActivity">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                  <data  android:host="alburt.us" />
                   <data android:pathPrefix="/directory.html" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data  android:scheme="https" />
                <data android:scheme="http" />
                   <data android:host="alburt.us" />
                   <data android:pathPrefix="/valilind.html" />
            </intent-filter>
        </activity>
        <activity android:name="com.wbmd.appindexingpoc.activity.MainDirectoryActivity" />
        <activity android:name="com.wbmd.appindexingpoc.activity.ProfileDetailsActivity" />
    </application>
</manifest>
