<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wbmd.appindexingpoc.stories">

    <application>
        <!--<meta-data-->
            <!--android:name="asset_statements"-->
            <!--android:resource="@string/asset_statements" />-->
        <meta-data
            android:name="asset_statements"
            android:resource="@string/asset_statements" />
        <activity android:name="com.wbmd.appindexingpoc.FirstActivity">
       <!--     <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="alburt.us"
                    android:pathPrefix="/default.html" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="alburt.us"
                    android:pathPrefix="/default.html" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="alburt.us"
                    android:pathPrefix="/default.html" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="alburt.us"
                    android:pathPrefix="/default.html" />
            </intent-filter>-->
        </activity>
    </application>
</manifest>
