<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wbmd.appindexingpoc.stories" >
    <application>
        <activity android:name="com.wbmd.appindexingpoc.FirstActivity">
        <intent-filter android:autoVerify="true">
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data
        android:scheme="http"
        android:host="alburt.us" />
        <data
        android:scheme="https"
        android:host="alburt.us" />
        </intent-filter>
        </activity>
    </application>
</manifest>
